/** HEADER */
header .navbar-toggler {
  border: 0;
  color: transparent;
}

header .navbar-toggler:active {
  background-color: lightgray;
}

header .navbar-toggler-icon {
  background-image: url("img/navbar_toggler.svg");
}

/** MAIN */
